<a href="https://colab.research.google.com/github/Bro-explain/Bro-explain/blob/main/Aman_Collab_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#basic

In [ ]:
!ls
!cat /proc/cpuinfo
!cat /proc/meminfo

#Section

In [ ]:
a=10
a+5
b=10
a+b
type(a)

c=a+b
#_+c/20

Q. cocatinate of two string

In [ ]:
branch="MCA"
branch = "mca"
print(branch)
print(id(branch))
branch+"10117"

Q. use of print statement

In [ ]:
print("hello")
friend="Aman"
print("hello",friend)
print(f"{friend} hello")

In [ ]:
name="A"
name2="B"
print(id(name))
print(id('A'))
print(id(name2))
print(id("B"))

In [ ]:
sName="Aman"
age=24
is_new=True
print("Name =",sName,"Age",age,"is a new student",is_new)

In [ ]:
name=input(" Enter your name ")
age=input(" Enter your age ")
print(name,age)

#date 09/12/2024

In [ ]:
age = int (input("enter your age "))
year = 2024 - age
print(year)
print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
print('''
this is 1st line
this is 2nd line
this is 3rd line
this is 4th line
''')
print("Aman Kumar Singh ")
print("24MCA10047")

In [ ]:
str = "course Registration"
print(str[0])
print(str[1:4])
print(str[:])
print(str[::-1])
print(str[::2])
print(str[0:12:3])
print(str[::-3])
print(str[-4:])
print(str[-8:-1:-2])
print(str[-8:-1:2])
print(str[:-1])

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
str1="this is string 1"
str2=str1
str3="this is string 3"
print (str2)
print(str1+ str3)

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
fname= input("enter your name ")
lname= input("enter last name ")
print(fname + "["+ lname+"]")
print(f'{fname} {lname}')
msg = f'{fname} [{lname}] is a student'
print(msg)

#11/12/24

IN and FIND operator

In [ ]:
x=["Aman Kumar Singh", "shridhar"]
print("Aman Kumar Singh" in x)
print("aman" in x)

In [ ]:
str="this is an example using find operator"
ans=str.find("example")
print(ans)
new_ans= str.replace("find" ,"FIND" )
print(new_ans)

print("Aman Kumar Singh")
print("24MCA10047")

Arithmetic operator

In [ ]:

a=5
b=5
c=3.6
add = a+-b
sub = a--b
mult = a*+b
div = a/-b
print(add)
print(sub)
print(mult)
print(div)
print(c+b)

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
add=10+3*2**3//4
print(add)

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
a = int (input("enter your age"))
if age>18:
    print("eligible to vote")
else:
     print("below age limit")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:


age = int(input("Enter your age: "))

if age > 18:
    print("Eligible to vote")
else:
    print("Below age limit")

#16/12/2024

In [ ]:
num = int(input("enter number"))
if(num >= 0):
  print("number is positive")
else:
  print("number is negative")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
n=eval(input("enter number "))
if(n>0):
  print("number is positive")
elif(n<0):
  print("number is negative")
else:
  print("number is zero")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
n=int(input("enter number"))
if(n%2==0):
  print("number is even")
else:
  print("number is odd")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
num = int(input("enter year "))
if(num % 4 == 0):
  print("leap year")
else:
  print("not a leap year")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
num1 = eval(input("enter first number "))
num2 = eval(input("enter second number "))
num3 = eval(input("enter third number "))

if(num1 > num2 and num1 > num3):
  print("first number is greater")
elif(num2 > num1 and num2 > num3):
  print("second number is greater")
else:
  print("third number is greater :-",num3)

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
num=int(input("enter the year "))
if(num%100==0 and num%400==0):
    print("leap year")
else:
      print("not a leap year")

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
mark = eval(input("enter your mark Aman Kumar Singh "))
if(mark >= 50):
  print("grade S")
elif(mark >= 45):
  print("grade A")
elif(mark >= 40):
  print("grade B")
elif(mark >= 30):
  print("grade C")
elif(mark >= 20):
  print("grade D")
else:
  print("fail")

In [ ]:
num=int(input("enter number "))
s=0
while (num>0):
  s=s+num
  num=num-1
print(s)

print("Aman Kumar Singh")
print("24MCA10047")

#18/12/20

2nd method with the help of max function

In [ ]:
num1 = eval(input("enter first number "))
num2 = eval(input("enter second number "))
num3 = eval(input("enter third number "))

print("the maximim number is :",max(num1,num2,num3))

print("Aman Kumar Singh")
print("24MCA10047")

3rd method with the help of function

In [ ]:
def findLargest(num1, num2, num3):
    largest = num1
    if num2 > largest:
        largest = num2
    if num3 > largest:
        largest = num3
    return largest

#defining main function
num1 = eval(input("Enter first number: "))
num2 = eval(input("Enter second number: "))
num3 = eval(input("Enter third number: "))

result = findLargest(num1, num2, num3)
print(f"The largest value among {num1}, {num2}, and {num3} is {result}")

print("Aman Kumar Singh")
print("24MCA10047")

4th method

In [ ]:
# Taking input safely
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Finding the largest number using a ternary operator
result = num1 if (num1 > num2 and num1 > num3) else (num2 if (num2 > num3) else num3)

# Displaying the result
print(f"\nThe largest value among {num1}, {num2}, and {num3} is {result}")

# Printing student details
print("\nAman Kumar Singh")
print("24MCA10047")

5th method

In [ ]:
#input 3 number
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

sortedNum = sorted([num1, num2, num3])
ans = sortedNum[-1]
print("The largest value among", num1, ",", num2, ", and", num3, "is", result)

print("Aman Kumar Singh")
print("24MCA10047")

6th method

In [ ]:
numbers = [float(input("Enter number {} :".format(i+1))) for i in range(3)]

largestNumber = numbers[0]
for num in numbers:
  if num > largestNumber:
    largestNumber = num

print(f"the largest number is {largestNumber}")

print("Aman Kumar Singh")
print("24MCA10047")

find ASCII

In [ ]:
alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for ch in alpha:
  print("character : "+ ch + ", ASCII value: ",ord(ch))

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
import string
alpha = string.ascii_lowercase
for char in alpha:
  print("character : "+ char + ", ASCII value: ",ord(char))

print("Aman Kumar Singh")
print("24MCA10047")

#task

In [ ]:
# Conditional statement
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

In [ ]:
# Iteration (for loop)
#table of 5
for i in range(10):
    print("5 X",i+1,"=",5*(i+1))

In [ ]:
# String formatting
name = "Aman Kumar Singh"
age = 24
print(f"My name is {name} and I am {age} years old.")

In [ ]:
# String manipulation
message = "Aman Kumar Singh"
print(message.upper())
print(message[0:5])

In [ ]:
# List operations
my_list = [1, 2, 3, 4, 5]
print(len(my_list))
my_list.append(6)
print(my_list)
my_list.remove(3)
print(my_list)

#Array

1D array
2D array
3D array

In [ ]:
import numpy as np
rng = np.random.default_rng(seed=1701) # seed for reproducibility
x1 = rng.integers(10, size=6) # one-dimensional array
x2 = rng.integers(10, size=(3, 4)) # two-dimensional array
x3 = rng.integers(10, size=(3, 4, 5)) # three-dimensional array

print("x3 ndim: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)
print("dtype: ", x3.dtype)

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:

import numpy as np

arr = np.array([9, 4, 0, 3, 8, 6])

print(arr[0])
print(arr[4])
print(arr[-1])

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
import numpy as np
arr = np.array([[3, 1, 3, 7],
                [4, 0, 2, 3],
                [0, 0, 6, 9]])


print(arr[0, 0])
print(arr[2, 0])
print(arr[2, -1])

arr[0, 0] = 12
print(arr[0, 0])

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

print(arr[:2, 1:])
print(arr[1:, :2])
print(arr[::2, ::2])

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

print("First row:", arr[0])
print("Second row:", arr[1])

print("First column:", arr[:, 0])
print("Third column:", arr[:, 2])

print("Aman Kumar Singh")
print("24MCA10047")

In [ ]:
import numpy as np

arr = np.array([[12, 1, 3, 7],
                [4, 0, 2, 3],
                [0, 0, 6, 9]])

sub_arr = arr[0:2, 1:3]
print(sub_arr)
sub_arr[0,0] = 99
arr

In [ ]:
import numpy as np

arr = np.array([[99, 1],
                [4, 0]])

arr_copy = arr.copy()

print("Original array:")
print(arr)

print("\nCopied array:")
print(arr_copy)

arr[0, 0] = 100

print("\nOriginal array after modification:")
print(arr)

print("\nCopied array (unchanged):")
arr_copy

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

reshaped_arr = arr.reshape(1,9)
print(reshaped_arr)
reshaped_arr = arr.reshape(9,1)
reshaped_arr

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
concatenated_arr = np.concatenate((arr1, arr2))
print("Concatenated array:", concatenated_arr)


arr = np.array([1, 2, 3, 4, 5, 6])
split_arr = np.split(arr, 3)
print("Split arrays:", split_arr)

In [ ]:
import numpy as np

x = [1, 2, 3, 99, 99, 3, 2, 1]

x1, x2, x3 = np.split(x, [3, 5])
print(x1, x2, x3)

In [ ]:
import numpy as np

array=([[ 0, 1, 2, 3],
 [ 4, 5, 6, 7],
 [ 8, 9, 10, 11],
 [12, 13, 14, 15]])

grid = np.array(array)
upper, lower = np.vsplit(grid, [2])
print(upper)
lower

#Pandas
06/01/25

In [ ]:

import pandas as pd
#series example
data_series= pd.Series([10, 20, 30, 40], index=['A', 'B', 'C','D' ,])
print(data_series)

#data_frame Example
data_frame= pd.DataFrame({
    'NAME': ['Alice', 'Bob', 'Charlie'],
    'AGE': [25, 14, 46],
    'GENDER': ['Female','Male','Male'],
    'CITY': ['New York','San Fransisco','Los Angeles']
})
print("DataFrame: \n", data_frame)

df = pd.DataFrame(data_frame)
print("Original dataframe:\n",df)

#selecting with loc(label-based)
print("\n Select row by label with .loc:")
print(df.loc[1])#Select the row with index label 1

#selecting with iloc((integer-location based))
print("\n Select row by integer location with .iloc:")
print(df.iloc[2])#Select the row with integer index 2

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'fare': [100, 200, 150, 120, 180]}  # Corrected 'fair' to 'fare'
df = pd.DataFrame(data)

# Adding a new column by broadcasting
df['Discounted fare'] = df['fare'] * 0.9  # Applied discount of 10%
print("\nDataFrame after operation:\n", df)

# Aggregation (mean of fare column)
mean_fare = df['fare'].mean()  # Corrected 'fair' to 'fare'
print("\nMean fare:", mean_fare)

In [ ]:
#example Dataframe
import pandas as pd
data_frame = pd.DataFrame({

    'Driver':['alice','bob','charlie'],
    'Age':[24,13,53],
    'Sex':['F','M','F'],
    'fair':[30,20.0,25.5]
})
df = pd.DataFrame(data_frame)
print("Original dataframe:\n",df)

#selecting with loc(label-based)
print("\n Select row by label with .loc:")
print(df.loc[1])#Select the row with index label 1

#selecting with iloc((integer-location based))
print("\n Select row by integer location with .iloc:")
print(df.iloc[2])#Select the row with integer index 2

In [ ]:
#introducing missing values
import pandas as pd
df.loc[1,'fair'] = None
print("\n Dataframe with missing values:\n",df)

#check missing data
print("\n Missing data:\n",df.isna())# you can write isnull also

#fill missing data
df['fair'] = df['fair'].fillna(df['fair'].mean(), )
print("\n Dataframe after filling missing values:\n",df)

In [ ]:
#creating a multiindex dataframe
import pandas as pd
multi_index_data = pd.DataFrame({
    'city':['London','London','Paris','Paris'],
    'date':['2025-01-01','2025-01-05','2025-01-07','2025-01-09'],
    'fair':[15.0,20.0,30.0,40.0]
})
multi_index_data = multi_index_data.set_index(['city','date'])
print("hierachical indexing dataframe",multi_index_data)

print(multi_index_data.loc['London'])

#File Handling
05/02/2025

In [ ]:
class MyClass:
  SLOT_A = 80

In [ ]:
A1=MyClass
print(A1)

In [ ]:
class Student:
  def __init__(self , name , age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

S1 = Student("Aman Kumar Singh",24)
print(S1)
print(S1.name)
print(S1.age)

In [ ]:
del S1.age #delete age from class student

In [ ]:
del S1 #deleting whole S1 class

In [ ]:
class Student:
  pass

  #by declaring student as pass we can use for a future purpose

In [ ]:
class Student:
  def __init__(self , name , age):
    self.name = name
    self.age = age

  def  myfunt(self):
    print("Hello my name is " + self.name)

S2 = Student("Aman Kumar Singh",24)
S2.myfunt()

In [ ]:
class Person:
  def __init__(self , name , age , profession):
    self.name = name
    self.age = age
    self.profession = profession

  def  show(self):
    print("Name:", self.name, ",Age:", self.age, ",Profession:", self.profession)

  def work(self):
    print(self.name, "working as a", self.profession)

s3 = Person("Aman Kumar Singh",24,"Student")
s3.show()
s3.work()

In [ ]:
A = Person("Aman Kumar Singh",24,"Student")
A.show()
A.work()

In [ ]:
class Person:
  def __init__(self , name , age):
    self.name = name
    self.age = age

  def introductionself(self):
    print("my name is " + self.name)
    # print("my age is " + self.age) TypeError: can only concatenate str (not "int") to str
    print("my age is " , self.age)

author = Person("B",30)
author.introductionself()

In [ ]:
class STUDENT:
  def __init__(self , fname , lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = STUDENT("Aman Kumar Singh","Kishan")
x.printname()

In [ ]:
class PG(STUDENT):
  pass

In [ ]:
x1 = PG("Aman Kumar Singh","Kishan")
x1.printname()

In [ ]:
class PG(STUDENT):
  def __init__(self, fname, lname):
    STUDENT.__init__(self, fname, lname)

In [ ]:
class PG(STUDENT):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2026

In [ ]:
class STUDENT:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def __printname__(self):
    print(self.firstname, self.lastname)

class PG(STUDENT):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x= PG("Aman Kumar Singh", "Kishan", 2026)
print(x.graduationyear)
print(x.firstname)
print(x.lastname)

#Assignment using inheritance, encaplusation , overriding , polymorphsim
date:10/02/2025

In [ ]:
class Vehicle:
    def __init__(self, make, model, year, num_wheels):
        self.make = make
        self.model = model
        self.year = year
        self.num_wheels = num_wheels

    def start_engine(self):
        return "Starting the engine."

    def get_description(self):
        return f"{self.year} {self.make} {self.model} ({self.num_wheels} wheels)"

class Car(Vehicle):
    def __init__(self, make, model, year, num_doors):
        super().__init__(make, model, year, num_wheels=4)
        self.num_doors = num_doors

    def start_engine(self):
        return "Vroom! The car's engine start."

    def get_description(self):
        base_desc = super().get_description()
        return f"{base_desc}, {self.num_doors} doors"

class Motorcycle(Vehicle):
    def __init__(self, make, model, year, has_sidecar):
        super().__init__(make, model, year, num_wheels=2)
        self.has_sidecar = has_sidecar

    def start_engine(self):
        return "Vroom! The motorcycle's engine starts."

    def get_description(self):
        base_desc = super().get_description()
        sidecar_info = "with sidecar" if self.has_sidecar else "no sidecar"
        return f"{base_desc}, {sidecar_info}"

car = Car("Tata", "Harriar", 2022, 4)
print(car.get_description())
print(car.start_engine())

motorcycle = Motorcycle("Yamaha", "Rx100", 1990, True)
print(motorcycle.get_description())
print(motorcycle.start_engine())

In [ ]:
mytuples = ('a','b','c')
myit= iter(mytuples)

print(next(myit))
print(next(myit))
print(next(myit))
print(myit)
print(myit)
print(myit)

In [ ]:
mytuples = "Aman Kumar Singh"
myit= iter(mytuples)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(myit)
print(myit)
print(myit)

In [ ]:
print("this is some sentence in python")

x=5
y=10
print(f"sum of {x} and {y} is {x+y}")

def greet(name):
  return f"hello,{name}!"
  print(greet("A"))
  if __name__=="__main__":
    main()

In [ ]:
class MathOPerations:
  def add(self , a , b , c=0):
    return a + b + c

math = MathOPerations()
print(math.add(2, 3))
print(math.add(2, 3, 4))

#Abstract Method
12/02/2025

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
    def __init__(self, name):
        self.name = name

    @abstractmethod
    def make_sound(self):
        pass

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__(name)
        self.__breed = breed

    def get_breed(self):
        return self.__breed

    def make_sound(self):
        print(f"{self.name} ({self.__breed}) says: bhow bhow!")

dogs = [Dog("Tommy", "Kutta"), Dog("Enternment", "Vodaphone")]
iterator = iter(dogs)

while True:
    try:
        dog = next(iterator)
        dog.make_sound()
    except StopIteration:
        break

#17/02/2025

In [ ]:
#isinstance
x=isinstance(5,int);
print (x)

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        """String representation for end users"""
        return f"{self.title} by {self.author}"

    def __repr__(self):
        """String representation for developers"""
        return f"Book('{self.title}', '{self.author}', {self.pages})"

    def __len__(self):
        return self.pages

    def __eq__(self, other):
        if not isinstance(other, Book):
            return NotImplemented
        return self.title == other.title and self.author == other.author

    def __lt__(self, other):
        if not isinstance(other, Book):
            return NotImplemented
        return self.pages < other.pages

def main():
    # Correct instantiation with required arguments
    book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 180)
    book2 = Book("1984", "George Orwell", 328)

    print(book1)         # Calls __str__
    print(repr(book1))   # Calls __repr__
    print(len(book1))    # Calls __len__
    print(book1 == book2) # Calls __eq__
    print(book1 < book2)  # Calls __lt__

if __name__ == "__main__":
    main()

#Exception Handling
24/02/2025

In [ ]:
class BankingSystem:
    def __init__(self , balance):
        self.balance=balance

    def withdraw(self , amount):
        try:
            if amount > self.balance:
                raise ValueError("Insufficient Balance")
            elif amount < 0:
                raise ValueError("Negetive Value is Not valid")
            else:
              print(f"total Balance: {self.balance}")
              print("Remaining Balance:")
              print(self.balance - amount)
        except ValueError as e:
          return f"error:(e)"
          # return e

account = BankingSystem(10000)
print(account.withdraw(2000))

#Divide By Zero Exception

In [ ]:
class Check:
  def __init__(self, nnum):
     self.nnum=nnum
  def checking(self,Dnum):
    try:
      if Dnum == 0:
        raise ZeroDivisionError("cannot divide by zero")
      else:
        print(self.nnum / Dnum)
    except ZeroDivisionError as e:
      return f"error:{e}"

c=Check(4)
print(c.checking(0))

In [ ]:
class BankAccount:
    def __init__(self, balance=0):
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            raise InsufficientFundError(self.balance, amount)
        self.balance -= amount
        return self.balance

# Example usage:
try:
    account = BankAccount(100)  # Initial balance: $100
    account.withdraw(150)  # Attempting to withdraw $150
except InsufficientFundError as e:
    print(e)  # Prints a friendly error message

#create and open a file
03/03/2025

In [ ]:
#open a file
with open("example.txt","w")as file:
  file.write("Hello World!")

In [ ]:
with open("example.txt","w")as file:
  file.write("this is a new line of text.\n")
  file.write("And another Line")

In [ ]:
with open("example.txt","r")as file:
  content = file.read()
  print(content)

In [ ]:
#read Line by Line
with open("example.txt","r")as file:
  for line in file:
    print(line, end='')

In [ ]:
with open("example.txt","r")as file:
  content = file.read(5)
  print(content)

In [ ]:
with open("example.txt", "r") as file:
    line = file.readline()  # Corrected method name
    print(line)  # Prints only the first line

In [ ]:
# if the file already exixt, catch block will run or new file will be created
try:
  with open('example.txt','x') as file:
    file.write("this is a new file")
except FileExistsError:
  print("file already exist")

In [ ]:
import os

filename = "image.jpg"

try:
    with open(filename, "rb") as file:
        binary_data = file.read()

    print(binary_data[:100])  # Print the first 100 bytes for verification
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found. Please check the file path and try again.")

In [ ]:
filename = "example.txt"

try:
    with open(filename, "r+") as file:
        content = file.read()  # Read existing content
        print("Existing content:", content)

        file.seek(0, 2)  # Move cursor to the end for appending
        file.write("\nNew Data")  # Append new data
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found.")

In [ ]:
with open('example.txt', 'w+') as file:  # Open in write+read mode
    file.write("New Data")  # Write to the file
    file.seek(0)  # Move the pointer to the beginning
    content = file.read()  # Read the written content
    print(content)  # Print the content

In [ ]:
with open('example.txt', 'a+') as file:  # Open in append+read mode
    file.write("This is the new line\n")  # Write to the file
    file.seek(0)  # Move the pointer to the beginning
    content = file.read()  # Read the entire file
    print(content)  # Print the content

In [ ]:
class Teacher:
    def info(self):
        print("I am a Teacher.")

class Student:
    def info(self):
        print("I am a Student.")

# Using polymorphism
for person in (Teacher(), Student()):
    person.info()